hr {
    background-color: black;
    border-radius: 5px;
    height: 5px;
}

.social-networks a {
    margin-left: 20px;
}

#mail {
    margin-left: 17px;
}

ul li {
    margin-top: 10px;
}

.blocks {
    overflow: hidden;
    width: 400px;
    margin: 0 auto;
}

.left {
    float: left;
    width: 25%;
    border-right: 4px solid black;
    
}
.right {
    padding-left: 30px;
    float: left;
    width: 65%;   
}

.right h2 {
    
}
.right h2, .right h3 {
    text-align: left;
}

@media (max-width: 440px) {

    .blocks {
        width: 90%;
    }
    ul {
        width: 200px;
        margin: 0 auto;
    }
    ul li {
        float: left;
    }

    .left {
        border-right: initial;
        border-bottom: 4px solid black;
        float: initial;
        margin-bottom: 20px;
        padding-bottom: 20px;
        width: initial;
    }

    .right {
        float: initial;
    }

    .social-networks {
        overflow: hidden;
    }

    
}
