hr {
    background-color: black;
    border-radius: 5px;
    height: 5px;
    
}

#contact form {
    text-align: center;
    margin-top: 30px;
}

#contact form input:nth-child(1) {
    margin-top: 20px;
}

#contact form input {
    
    border-radius: 10px;
    height: 30px;
    margin-bottom: 20px;
    padding: 10px;
    width: 50%;
}

#contact form textarea {
    border: 2px solid black;
    border-radius: 10px;
}

#contact form button {
    height: 50px;
    padding: 10px 20px;
    width: 150px;

}

