#pages {
    color: black;
    position: absolute;
    height: 75%;
    width: 50%;
    left: 24%;
    top:10%;
}

.page {
    background: #f6f6f6;
    border-top: 18px solid black;
    border-radius: 103px;
    border-left: 10px solid orange;
    border-right: 46px solid orange;
    border-bottom: 18px solid black;
    height: 100%;
    position: absolute;
    width: 100%;
}

@media (max-width: 850px) {

    #pages {
        color: black;
        position: absolute;
        height: 89%;
        width: 94%;
        left: 0;
        top: 0;
    }

    .page {
        border-radius: initial;
        border-bottom: initial;
    }
}