#me.small .menu-simple {
    display: inline-flex;
    visibility: visible;
    opacity: 1;
}

.menu-simple {
    color: white;
    
    flex-direction: column;
    height: 100%;
    
    transition: opacity linear 1s;

    opacity: 0;
    display: inline-flex;
    visibility: hidden;
    overflow: hidden;
    padding: 10px 0 0 0;
    width: 100%;

    .me {
        flex-shrink: 0;
        flex-grow: 1;
        text-align: center;

        img {
            border-radius: 100px;
            cursor: pointer;
            object-fit: cover;
        }

        img:hover {
            border-radius: 20px;
        }
        
    }

    .foot {
    
        display: inline-block;
        align-self: flex-end;
        padding: 0 10px 15px 0;

        ul li {
            margin: 10px 0;
            img {
                border-radius: 8px;
            }
        }
    }
    

    #mail {
        margin: 0;
    }

    .github img {
        background-color: white;
    }
}

@media (max-width:600px)  {
    .menu-simple, .small .menu-simple {
        visibility: hidden !important;
    }
}

