.content {
    padding: 20px;
}

.cards {
    display: grid;
    column-gap: 2ch;
    grid-template-columns: 1fr 1fr 1fr;
    height: 535px;
    overflow-y: scroll;
    margin-top: 20px;
    row-gap: 2ch;
    padding-right: 2px;
    
    
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 1250px) {

    .cards {
        display: grid;
        column-gap: 2ch;
        grid-template-columns: 1fr 1fr;
    }

    .cards .card__face--front img {
        width: 60%;
    }
}
